body {
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: white;
    text-align: center;
    font-size: xxx-large;
}

h2 {
    color: white;
    text-align: center;
    font-size: x-large;
}

p {
    color: white;
    text-align: center;
    font-size: large;
}

#shape {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.circle {
    align-items: flex-start;
    width: 350px;
    height: 350px;
    background-color: #cfe8fff4;
    transition: 1s;
}

.circle:hover {
    background-color: #90ff6bf4;
    border-radius: 55%;
}

.circle2 {
    justify-content: flex-end;
    width: 350px;
    height: 350px;
    background-color: #2ec7ff;
    transition: 1s;
}

.circle2:hover {
    background-color: #ffa42e;
    border-radius: 55%;
}

.circle3 {
    justify-content: flex-end;
    width: 350px;
    height: 350px;
    background-color: #133aff;
    transition: 1s;
}

.circle3:hover {
    background-color: #ff13ef;
    border-radius: 55%;
}

#container {
    background-color: #202542;
    width: 90%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#container div {
    width: 400px;
    height: 400px;
    text-align: center;
    font-size: 4em;
}

span {
    color: white;
}